[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pytest = "*"
coverage = "*"
pylint = "*"

[packages]
flask = "*"
flask-restful = "*"
flask-script = "*"
flask-cors = "*"
flask-mysql = "*"
flask-sqlalchemy = "*"
flask-socketio = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
pymysql = "*"
cryptography = "*"

[requires]
python_version = "3.6"
